{% extends 'base.html' %}
{% block content %}
{% include 'userdashboard.html' %}
<section>
    <div class="container pt-4">
        <h2 class="text-center font-weight-bold">New Tasks</h2>
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">UserId</th>
                <th scope="col">EmployeeId</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Task_Title</th>
                <th scope="col">Task_End_Date</th>
                <th scope="col">Upload Task</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
        
                <tr>
                  <th value="{{data.id}}">{{data.id}}</th>
                  <td value="{{data.employee_id}}">{{data.employee_id}}</td>
                  <td value={{data.employee_name}}>{{data.employee_name}}</td>
                  <td value={{data.task_title}}>{{data.task_title}}</td>
                  <td value="{{data.task_end_date}}">{{data.task_end_date}}</td>
                  <td> 
                     <form method="POST" class="" enctype="multipart/form-data">
                      {% csrf_token %}
                      <input type="file" class="form-control" name="file" placeholder="Upload Files" >
                      <td><button input type="submit" class="btn btn-success">Submit</button></td>
                    </form>
                  </td>
                    
                </tr>
              
            </tbody>
          </table>
    </div>
</section>
{% endblock %}