{% extends 'base.html'%}
{% block content %}
<div class="container my-5">
    <div class="row">
      <div class="col-sm-4 col-md-4  pt-5 mx-auto">
        <div class="card bg-light" style="width: 21rem;">
          <div class="card-body">
            <h2 class="text-center font-weight-bold">Employee SignIN</h2>
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}	
          <form method="POST"   class="needs-validation" autocomplete="off" novalidate>
              {% csrf_token %}
              <div class="form-group pt-3">
                <label>UserName </label>
                <input type="text" class="form-control" name='username' placeholder="Enter The UserName" required>
                <div class="invalid-feedback">
                  please enter valid UserName
                </div>
              </div>
              <div class="form-group">
                <label>Employee Id</label>
                <input type="text" class="form-control" name='employeeid' placeholder="Enter The Employee Id" required>
                <div class="invalid-feedback">
                  please enter valid Employee Id
                </div>
              </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name='password' placeholder="Enter Your Password" required>
                    <div class="invalid-feedback">
                      please enter valid Password
                    </div>
                </div> 
                <button  class="btn btn-success btn-block" >
                  <i class="fa fa-external-link mr-1"></i>
                  SignIn
                </button> 
                <div class="form-group pt-2">
                  <p class="text-center">I not have any account <a href="/signup">SignUp</a></p>
                </div>
              </form> 
                
          
            <script>
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function() {
                  'use strict';
                  window.addEventListener('load', function() {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                      form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                          event.preventDefault();
                          event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                      }, false);
                    });
                  }, false);
                })();
            </script>
      </div>     
    </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}